@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700);


html *{
  transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1) !important;
  font-family: 'Open Sans';
  font-weight: 300;
  letter-spacing: .5px;
}

body{
  background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/tiny_grid.png');
}

.container{
  width: 320px;
  height: 580px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  top: 50px;
}

.layer{
  position: absolute;
  height: 100%;
  width: 100%;
}

.layer-1{
  height: 100%;
}

.layer-2{
  transition-delay: .3s;
  background: #ccc;
  top: 60px;
  padding: 30px;
}

.material-icons{
  padding: 15px
}